html{
    font-size: 10px;
    background-image: url("https://i.pinimg.com/originals/96/8f/be/968fbedfa320f3b9827f72a9b464e9bc.jpg");
    background-size: cover;
}   

html, body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

.keys{
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;

}

.key{
    border: .4rem solid black;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background: rgba(106,26,110,.4);
    text-shadow: 0 0 .5rem black;
}

.playing {
    transform: scale(1.1);
    border-color: #cd5ea6;
    box-shadow: 0 0 1rem #cd5ea6;
  }

  kbd{
      display: block;
      font-size: 4rem;
  }

  .sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: white;
  }